{% extends "bootstrap/base.html" %}

<html>
{% block head %}
	{{super()}}
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
{% endblock %}

	{% block title %} {{ title }} {% endblock %}
	{% block styles %}
		{{super()}}
		<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/main-style.css') }}" rel="stylesheet">
	{% endblock %}

{% block content %}

<div class="container">
	<h1> Gene Sequence Database </h1>
	
	<div class="row">
		<div class="col-md-5 stdblock">
			<h2>GenBank</h2>
			<a href="{{ url_for('render_genbank_add') }}">Add new entry from GenBank</a><br/>
			<a href="{{ url_for('render_genbank_view') }}">View Entries</a>
			{# <a href="{{ url_for('render_manual_add') }}">Add new sequence manually</a> #}
		</div>
		<div class="col-md-5 col-md-offset-1 stdblock">
			<h2>Sequences</h2>
			<a href="{{ url_for('render_sequence_add') }}">Add new sequence</a>
			
		</div>
	</div>
</div>
{% endblock %}

</html>
